# Entorno
NODE_ENV=development
PORT=3000

# Base de datos PostgreSQL (Neon)
# Formato: postgresql://usuario:password@host/database?sslmode=require
DATABASE_URL=postgresql://usuario:password@host/database?sslmode=require
